<table class="table table-striped">
    <thead></thead>
    <tr>
    <th>Type</th>
    <th>nombre</th>
    <th></th>
    </tr>
    <tbody>
        <tr>
            <td>Etudiants</td>
            <td>{{etudiants.length}}</td>
            <td><a class="btn btn-success" routerLink="/etudiants">VOIR</a></td>
        </tr>
        <tr>
            <td>Formations</td>
            <td>{{formations.length}}</td>
            <td><a class="btn btn-success" routerLink="/formations">VOIR</a></td>
        </tr>
    </tbody>
</table>