
<table class="table table-striped">
    <thead></thead>
    <tr>
    <th>Id</th>
    <th>CIN</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Num</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    </tr>
    <tbody>
        <tr *ngFor="let etudiant of etudiants">
            <td>{{etudiant.id}}</td>
            <td>{{etudiant.cin}}</td>
            <td>{{etudiant.nom}}</td>
            <td>{{etudiant.prenom}}</td>
            <td>{{etudiant.num}}</td>
            <td>{{etudiant.email}}</td>
            <td>{{etudiant.passwd}}</td>
            <td><button class="btn btn-success" (click)="editEtudiant(etudiant)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="supetudiant(etudiant)">Delete</button></td>
        </tr>
    </tbody>
</table>
<a style="width: 100%" class="btn btn-success" routerLink="/addetudiant" >AJOUTER ETUDIANT</a>